<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/elecmall/style.css">
    <title>대한민국 No.1 전자상가, 일렉몰</title>
</head>
<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/elecmall"><b>ElecMall</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/elecmall/order/all" tabindex="-1" aria-disabled="false">전체 상품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/elecmall/reservation/new" tabindex="-1" aria-disabled="false">방문 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/elecmall/board/list" tabindex="-1" aria-disabled="false">일렉몰 게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/elecmall/myPage" tabindex="-1" aria-disabled="false">마이페이지</a>
                </li>
            </ul>
        </div>

        <!-- 로그인 상태에 따른 유저 표시 -->
        {{#isLoggedIn}}
            <h4 class="user-id">환영합니다 {{id}}님</h4>
        {{/isLoggedIn}}
        {{^isLoggedIn}}

        {{/isLoggedIn}}

        <!-- 로그인 상태에 따른 버튼 표시 -->
        {{#isLoggedIn}}
            <form action="/elecmall/logout" method="get" onsubmit="return confirmLogout()">
                <button type="submit" class="btn btn-danger" style="padding: 0.5rem 2rem; white-space: nowrap;">로그아웃</button>
            </form>
        {{/isLoggedIn}}
        {{^isLoggedIn}}
            <a href="/elecmall/login" class="btn btn-primary" style="padding: 0.5rem 2rem; white-space: nowrap;">로그인</a>
        {{/isLoggedIn}}
    </div>
</nav>


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9fgb7zI9KxZK7tFSVNeJOmqf5v7wRJ6D/T03G6xvHsI2M9zF95e" crossorigin="anonymous"></script>
</body>
</html>
