{{>layouts/header}}
<div class="container my-4">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <h1 class="text-center mb-4"><b>구매 완료</b></h1>
    <p>상품 구매가 완료되었습니다.</p>
    <a href="/elecmall/order/all" class="btn btn-primary">상품 목록으로 돌아가기</a>
</div>
{{>layouts/footer}}
