{{>layouts/header}}
{{#boardItem}}
<form class="container mt-4" action="/elecmall/board/update", method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="hidden" name="boardId" value="{{boardId}}">

    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="boardTitle" value="{{boardTitle}}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">작성자</label>
        <input type="text" class="form-control" name="boardAuthor" value="{{boardAuthor}}" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="boardContent" required>{{boardContent}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
</form>
{{/boardItem}}
{{>layouts/footer}}