/* style.css */

/* 기본 스타일 */
body {
    background-color: #f8f9fa; /* 밝은 배경 */
    color: #212529; /* 기본 텍스트 색 */
    font-family: Arial, sans-serif;
}

h1, h3 {
    color:'black';
}

/* 네비게이션 바 스타일 */
.navbar {
    background-color: #343a40; /* 어두운 배경 */
}

.navbar a {
    color: #FFC107; /* 노란색 */
}

.navbar a:hover {
    color: #fff; /* 호버 시 흰색 */
}

/* 테이블 스타일 */
.table {
    border: 1px solid #343a40; /* 테이블 경계 색 */
}

.table th {
    background-color: #343a40; /* 테이블 헤더 배경 */
    color: 'black'; /* 헤더 텍스트 색 */
}

.table tbody tr:hover {
    background-color: #ffc107; /* 호버 시 테이블 행 색 */
    color: #212529; /* 텍스트 색 */
}

/* 버튼 스타일 */
.btn-primary {
    background-color: #FFC107; /* 기본 버튼 색 */
    border: none;
}

.btn-primary:hover {
    background-color: #e0a800; /* 버튼 호버 색 */
}

.btn-danger {
    background-color: #dc3545; /* 로그아웃 버튼 색 */
    border: none;
}

.btn-danger:hover {
    background-color: #c82333; /* 로그아웃 버튼 호버 색 */
}

/* 경고 메시지 스타일 */
.alert {
    background-color: #f8d7da; /* 경고 배경 색 */
    color: #721c24; /* 경고 텍스트 색 */
}
