{{>layouts/header}}
<div class="welcome">
    <h1><b>대한민국 No.1 전자상가, 일렉몰입니다</b></h1>
</div>

<section class="event-section">
    <h3 class="center-text"><b>이달의 상품</b></h3>
    <div class="image-container">
        <div class="image-item">
            <img src="https://static2.e-himart.co.kr/contents/goods/00/21/47/62/00/0021476200__27ART10CMPL.AKR__M_450_450.jpg" alt="상품1">
            <p><a href="/elecmall/order/purchase/1">24년 신모델 68cm LG 스탠바이미 TV 27ART10CMPL</a></p>
        </div>
        <div class="image-item">
            <img src="https://static2.e-himart.co.kr/contents/goods/00/21/46/43/31/0021464331__HRF-245SMJY__M_450_450.jpg" alt="상품2">
            <p><a href="/elecmall/order/purchase/3">하이메이드 Single ONE 일반냉장고 HRF-245SMJY</a></p>
        </div>
        <div class="image-item">
            <img src="https://static2.e-himart.co.kr/contents/goods/00/15/04/56/09/0015045609__WF21T6000KP__M_450_450.jpg" alt="상품3">
            <p><a href="/elecmall/order/purchase/5">버블로 빠르게, 초강력 워터샷으로 깨끗하게 버블세탁</a></p>
        </div>
        <div class="image-item">
            <img src="https://static1.e-himart.co.kr/contents/goods/00/18/37/53/92/0018375392__DF10B9500CS__M_450_450.jpg" alt="상품4">
            <p><a href="/elecmall/order/purchase/7">진동 / 소음 걱정 없이 공간에 딱 BESPOKE 디자인</a></p>
        </div>
    </div>
</section>

<section class="event-section">
    <h3 class="center-text"><b>진행중인 이벤트</b></h3>
    <div class="image-container">
        <div class="image-item">
            <img src="https://static1.e-himart.co.kr/contents/content/display/cornerContents/videoBanner/4614/02_4614_80003.png" alt="이벤트1">
        </div>
        <div class="image-item">
            <img src="https://static1.e-himart.co.kr/contents/content/display/cornerContents/imageBanner/4614/imageBanner_1727676280677.jpg" alt="이벤트2">
        </div>
        <div class="image-item">
            <img src="https://static1.e-himart.co.kr/contents/content/display/cornerContents/imageBanner/4614/imageBanner_1727679142657.jpg" alt="이벤트3">
        </div>
        <div class="image-item">
            <img src="https://static1.e-himart.co.kr/contents/content/display/cornerContents/imageBanner/4614/imageBanner_1723429417280.jpg" alt="이벤트4">
        </div>
    </div>
</section>
{{>layouts/footer}}
